body{
	/*height: 100vh;*/
	border-left: 80px solid #666666;
	border-right: 80px solid #666666;
}
img{
	max-width: 100%;
	display: block;
}
nav{
	background: black;
	opacity: .6;
}
nav ul li{
	padding-left: 10px;
}
.signin a{
	color: black !important;
	background: white;
	display:  block;
	border-radius: 3%;
	font-family: times new roman;
}
.signin a:hover{
	background: #A3D1D6;
}
.slash{
	cursor: default;
	color: 
}

.slash a{
	color: rgba(255,255,255,.5) !important;
}

.video-list{
	/*height: 79vh;*/
	/*overflow: scroll;*/
	
}
.video{
	cursor: pointer;
}
.vertical-video-menu iframe{
	width: 300px;
	height: 200px;
}
/*.video{
	margin: 200px 0 0 0px;
}*/
.thumbnail{
	cursor: pointer;
}
.the-video{
	display: none;
}
video{
	/*width: 100%;*/
	max-width: 100%;
}
.playVideo{
	width: 70% !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #888;
  /*width: 34%; */
  width: 630px;

}

/* The Close Button */
.close {
  color: #aaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
  font-family: Times-new-roman;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}